@font-face {
    font-family: 'Telegraf-Regular';
    src: url(../fonts/PPTelegraf-Regular.woff2) format('woff2');
    src: url(../fonts/PPTelegraf-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Telegraf-Ultralight';
    src: url(../fonts/PPTelegraf-UltraLight.woff2) format('woff2');
    src: url(../fonts/PPTelegraf-UltraLight.woff) format('woff');
}

.bio {
    padding: 5vh 2.5vw;
    width: 95vw;
    border-bottom: solid 1px #FFFFF0;
    font-family: 'Telegraf-Regular';
    font-size: 5vw;
    color: #FFFFF0;
}

.linkGroup {
    display: flex;
    flex-direction: column;
    width: 100vw;
    border-bottom: none;
}

.linkBox {
    width: 95vw;
    border-bottom: solid 1px #FFFFF0;
    padding: 2.5vh 2.5vw;
    display: flex;
}

.linkout {
    text-decoration: none;
    color: #FFFFF0;
    font-family: 'Telegraf-Ultralight';
    font-size: 6vw;
    
}

@media screen and (min-width: 750px) {
    .bio {
        padding: 10vh 2.5vw;
        border-bottom: none;
        font-size: 2.5vw;
    }
    
    .linkGroup {
        flex-direction: row;
    }
    
    .linkBox {
        padding: 2.5vh 2.5vw;
        justify-content: center;
        border-bottom: none;
    }
    
    .linkout {
        font-family: 'Telegraf-Ultralight';
        font-size: 2vw;
    }
}