@font-face {
    font-family: 'Telegraf-Regular';
    src: url(../fonts/PPTelegraf-Regular.woff2) format('woff2');
    src: url(../fonts/PPTelegraf-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Telegraf-Ultralight';
    src: url(../fonts/PPTelegraf-UltraLight.woff2) format('woff2');
    src: url(../fonts/PPTelegraf-UltraLight.woff) format('woff');
}

.menu {
    width: 100vw;
    height: auto;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #0F0E0E;
    z-index: 99;
}

.marquee {
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    border-bottom: solid 1px #FFFFF0;
    padding: 1vh 0vw;
    white-space: nowrap;
    overflow: hidden;
}

.ticker1, .ticker2 {
    font-family: 'Telegraf-Ultralight';
    color: #FFFFF0;
    font-size: 4vw; 
}

.ticker {
    font-family: 'Telegraf-Ultralight';
    color: #FFFFF0;
    font-size: 4vw; 
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2.5vh 2.5vw;
    border-bottom: solid 1px #FFFFF0;
}

.navLink {
    text-decoration: none;
    font-family: 'Telegraf-Regular';
    color: rgba(255, 255, 240, .5);
    font-size: 6vw;
}

.navLinkActive {
    color: #FFFFF0;
}

.active {
    color: #FFFFF0;
}

@media screen and (min-width: 750px) {
    .menu {

    }

    .marquee {

    }
    
    .ticker1, .ticker2 {
        font-size: 1.5vw;
    }

    .ticker {
        font-size: 1.5vw;
    }
    
    .nav {
    
    }
    
    .navLink {
        font-size: 3vw;
    }
}